@charset "utf-8";

@import "ebe/config";


// project home

$paneTransition-1: all .50s $easeOutExpo;
$paneTransition-2: all .75s $easeOutExpo;
$paneTransition-3: all .99s $easeOutExpo;

#ProjectHomeContentPane{
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: $s-headerH;
    bottom: $s-footerH;
}


#projectPaneGroup{
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 88px;
    bottom: 0;

    &.-mode-viewSurvay{

        #pProjectListPane{
            transition: $paneTransition-1;
            left: -50%;
        }

        #pProjectDetailPane{
            transition: $paneTransition-1;
            left: 0;
        }

        #pSurvayDetailPane{
            transition: $paneTransition-2;
            left: 50%;
        }
    }
}


#pProjectListPane{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    transition: $paneTransition-3;

    .projectItemListPane{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 24px 56px;
        overflow-y: auto;
    }

    .projectItem{
        margin: 24px 0;
        display: flex;
        color: #333;
        background: #fff;
        border-left: 4px solid #CCC;
        box-shadow: $fx-itemShadow;
        transition: all .25s;

        // cols

        .col1{
            flex: 0 0 288px - 4px;
            padding: 12px 16px 12px 12px;
        }

        .col2{
            flex: 1 1 auto;
            padding: 16px;
            padding-left: 15px;
            border-left: 1px solid #e8e8e8;

            > * + *{
                margin-top: 8px;
            }
        }

        .openDetial{
            position: relative;
            flex: 0 0 48px;
            border-left: 1px solid #e8e8e8;
            cursor: pointer;

            .icon{
                position: absolute;
                left: 0;
                width: 100%;
                top: 50%;
                margin-top: -28px;
                font-size: 20px;
                line-height: 32px;;
                text-align: center;
            }

            .label{
                position: absolute;
                left: 0;
                width: 100%;
                top: 50%;
                margin-top: 8px;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
            }
        }

        // el

        .status{
            display: flex;
            justify-content: flex-start;
            line-height: 24px;
        }

        .statusText{
            min-width: 52px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }

        .projectNo{
            font-size: 14px;
            margin-left: 8px;
        }

        .name{
            padding: 4px 0;
            margin-bottom: 4px;
            font-size: 18px;
            line-height: 24px;;
            font-weight: bold;
        }

        .period   ,
        .type     ,
        .windfield{
            display: flex;
            font-size: 14px;
            line-height: 24px;
        }

        .period    .label,
        .type      .label,
        .windfield .label{
            margin-right: 8px;
            font-weight: bold;
            color: #999;
        }

        &[data-status="進行中"]{
            border-left-color: $c-status-onprogress;
            .statusText{ background: $c-status-onprogress; color: #000; }
        }

        &[data-status="已完成"]{
            border-left-color: $c-status-complete;
            .statusText{ background: $c-status-onprogress; color: #fff; }
        }

        &[data-status="取消"]{
            border-left-color: $c-status-cancel;
            .statusText{ background: $c-status-cancel; color: #fff; }
        }

        &.-active{
            color: #000;
            box-shadow: $fx-itemActiveShadow;
        }
    }

    .projectItemListPager{
        position: absolute;
        display: none;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);

        .pagerBlock{
            display: flex;
            justify-content: center;
            font-size: 16px;
            min-width: 48px;
            line-height: 40px;
            border-radius: 4px;

            > *{
                color: #fff;
                background-color: $c-main;
            }
        }

        .pager{
            flex: 0 0 32px;
            text-align: center;
            cursor: pointer;

            &::before{
                line-height: 40px;
            }

            &:hover{
                background: darken($c-main, 5%);
            }

            &.-active{
                font-weight: bold;
                color: #fff;
                background: darken($c-main, 10%);
            }

            &:first-child{
                border-radius: 8px 0 0 8px;
                border-right: 1px solid rgba(255, 255, 255, .2);
            }

            &:last-child{
                border-radius: 0 8px 8px 0;
                border-left: 1px solid rgba(255, 255, 255, .2);
            }
        }

        .totalPage{
            flex: 0 0 auto;
            padding: 0 16px;
            font-size: 14px;
            min-width: 48px;
        }

        .pagerSelect{
            flex: 0 0 auto;
            padding: 0 16px;
            color: #fff;
            text-align: right;
            background-color: $c-main;
            border: 0;

            select{
                margin-top: 4px;
                padding: 0 8px;
                height: 32px;
                border: 0;
            }

            option{
                text-align: right;
            }
        }
    }

    .floatButtons{
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}


#pProjectDetailPane{
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    border-left: 1px solid #e8e8e8;
    box-shadow: all .5s $easeOutExpo;
    transition: $paneTransition-2;

    .projectDetailContentPane{
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 24px;

        > .group{
            margin: 16px 0;
        }
    }

    .infoCard{
        position: absolute;
        padding-top: 24px;
        left: 24px;
        right: 24px;
        top: 0;
        height: 76px + 24px;
        border-bottom: 1px solid #ccc;

        .col1{
            display: flex;
            font-size: 12px;
            line-height: 24px;
        }

        .col2{
            display: flex;
        }

        .statusText{
            padding: 0 8px;
            background-color: #ccc;
        }

        .projectNo{
            margin-left: 8px;
            font-weight: bold;
        }

        .name{
            flex: 1 1 auto;
            padding-top: 4px 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            height: 48px + 4px;
            overflow: hidden;
        }

        .fn{
            flex: 0 0 144px;
            display: flex;
            justify-content: flex-end;

            > *{
                margin-left: 8px;
            }
        }

    }

    .scrollContent{
        position: absolute;
        overflow-y: auto;
        left: 0;
        top: 76px + 24px;
        width: 100%;
        bottom: 0;
        padding: 24px;
        padding-top: 24px;
    }

    .group{

        .titlebar{
            position: relative;
            padding-left: 24px;
            font-size: 12px;
            font-weight: bold;
            line-height: 24px;
            background-color: #e8e8e8;
            border-radius: 1000px;

            &::before{
                @extend .fal-init;
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                font-weight: bold;
                line-height: 24px;
                text-align: center;
                content: "\f13a";
            }
        }

        .itemList{
            padding: 16px 0;
        }

        .itemRow{
            display: flex;
            font-size: 14px;
            line-height: 24px;

            + .itemRow{
                margin-top: 8px;
            }

            > .label{
                flex: 0 0 88px;
                font-weight: bold;
                color: $c-main;
            }

            > .value{
                flex: 1 0 auto;

                > *{
                    font-size: 14px !important;
                }
            }
        }

        .listTable{
            width: 100%;

            thead{
                font-size: 14px;
                line-height: 24px;
                border-bottom: 1px solid #999;

                th{
                    font-weight: bold;
                    text-align: left;
                    color: $c-main;
                }
            }

            tbody{
                tr{
                    border-bottom: 1px solid #ccc;
                }

                td{
                    padding: 6px 0;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .buttons{
            display: flex;
            justify-content: flex-end;
        }
    }

    .messagePane{
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .messageBody{
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #999;

            .icon{
                font-size: 40px;
                line-height: 64px;
            }
        }
    }
}


#pSurvayDetailPane{
    position: absolute;
    left: 100%;
    top: 0;
    width: 50%;
    height: 100%;
    transition: $paneTransition-1;

    .survayDetailContentPane{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 24px;
        padding-right: 64px;

        > .group{
            margin: 16px 0;
        }

        .widgetBoxWrapper{
            margin: 16px 0;

            .widgetBox{
                width: 100% !important;
            }
        }
    }

    .infoCard{
        position: absolute;
        padding-top: 24px;
        left: 24px;
        right: 24px;
        top: 0;
        height: 76px + 24px;
        border-bottom: 1px solid #ccc;

        .col1{
            display: flex;
            font-size: 12px;
            line-height: 24px;
        }

        .col2{
            display: flex;
        }

        .statusText{
            padding: 0 8px;
            background-color: #ccc;
        }

        .projectNo{
            margin-left: 8px;
            font-weight: bold;
        }

        .name{
            flex: 1 1 auto;
            padding-top: 4px 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            height: 48px + 4px;
            overflow: hidden;
        }

        .fn{
            flex: 0 0 144px;
            display: flex;
            justify-content: flex-end;

            > *{
                margin-left: 8px;
            }
        }

    }

    .scrollContent{
        position: absolute;
        overflow-y: auto;
        left: 0;
        top: 76px + 24px;
        width: 100%;
        bottom: 0;
        padding: 24px;
        padding-top: 24px;
    }

    .group{

        .titlebar{
            position: relative;
            padding-left: 24px;
            font-size: 12px;
            font-weight: bold;
            line-height: 24px;
            background-color: #e8e8e8;
            border-radius: 1000px;

            &::before{
                @extend .fal-init;
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                font-weight: bold;
                line-height: 24px;
                text-align: center;
                content: "\f13a";
            }
        }

        .itemList{
            padding: 16px 0;
        }

        .itemRow{
            display: flex;
            font-size: 14px;
            line-height: 24px;

            + .itemRow{
                margin-top: 8px;
            }

            > .label{
                flex: 0 0 100px;
                font-weight: bold;
                color: $c-main;
            }

            > .value{
                flex: 1 0 auto;

                > *{
                    font-size: 14px !important;
                }
            }
        }

        .listTable{
            width: 100%;

            thead{
                font-size: 14px;
                line-height: 24px;
                border-bottom: 1px solid #999;

                th{
                    font-weight: bold;
                    text-align: left;
                    color: $c-main;
                }
            }

            tbody{
                tr{
                    border-bottom: 1px solid #ccc;
                }

                td{
                    padding: 6px 0;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    .closeButton{
        position: absolute;
        z-index: $z-frameUI + 100;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
        font-size: 24px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
    }
}