@charset "utf-8";

@import "ebe/config";


#boatListPane{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
    padding: 8px 16px 24px 16px;

    .boatListItem{
        margin-top: 16px;
        flex: 0 1 33.3%;

        @media screen and ( max-width: 767px ){
            flex: 0 1 50%;
        }

        @media screen and ( min-width: 1280px ){
            flex: 0 1 25%;
        }

        @media screen and ( min-width: 1920px ){
            flex: 0 1 20%;
        }

        .wrapper{
            margin: 0 8px;
            padding: 8px;
            background-color: #fff;
            box-shadow: $fx-itemShadow;
        }

        .name{
            font-size: 16px;
            font-weight: bold;
            line-height: 32px;
        }

        .photo{
            height: 0;
            padding-bottom: 66%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .adminLink{
            display: flex;
            justify-content: flex-end;
            padding-top: 8px;
            margin-top: 8px;
            margin-left: -8px;
            border-top: 1px dashed #ccc;

            > *{
                margin-left: 8px;
            }
        }
    }
}