@charset "utf-8";

@import "config";


*, *::before, *::after{
    box-sizing: border-box;
}


html{
    height: 100%;
    background: #f8f8f8;
}


a{
    text-decoration: none;
}


body{
    min-height: 100%;
    padding-top:    $s-headerH;
    padding-bottom: $s-footerH;
    font-family: "Microsoft Jhenghei", sans-serif;

    &.-appMode{}

}


#header{
    position: fixed;
    z-index: $z-frameUI;
    left: 0;
    top: 0;
    right: 0;
    height: $s-headerH;
    background: $c-main;
    box-shadow: $fx-frameUIShadow;

    .captain{
        position: absolute;
        left: 0;
        top: 0;
        width: $s-logoW;
        height: 100%;
        background-color: rgba(0,0,0, .2);
        background-image: url(../../img/ebe-logotype.svg);
    }

    .mainMenu{
        position: absolute;
        left: $s-logoW;
        display: flex;
        justify-content: flex-start;
        color: #fff;

        .menuGroup{
            padding: 8px 12px;
            display: flex;
        }

        .menuGroup + .menuGroup{
            border-left: 1px solid rgba(0,0,0, .2);
        }

        a{
            vertical-align: top;
            color: #fff;
            font-size: 14px;
            line-height: 32px;
            display: flex;

            i{
                vertical-align: top;
                width: 20px;
                margin-right: 0;
                line-height: 32px;
            }

            &.-active{
                color: #333;
                background: #fff;
                border-radius: 1000px;
            }
        }

        .menuGroup          a{ padding: 0 16px; }
        .menuGroup.-primary a{ padding: 0 12px; }
    }

    .fnBlock{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 0px;
        top: 0px;


        .fnItem{
            position: relative;
            height: 48px;
            min-width: 32px;
            line-height: 48px;

            .trayIcon{
                cursor: pointer;
                line-height: 48px;

                .icon{
                    width: 48px;
                    font-size: 18px;
                    line-height: inherit;
                }

                a{
                    display: block;
                    line-height: inherit;
                }

                .textlabel{
                    display: inline-block;
                    margin-left: -4px;
                    margin-right: 16px;
                }
            }

            &:hover{
                .trayIcon{
                    background: $c-main;
                }

                .dropdownMenu{
                    display: block;
                }
            }

            .dropdownMenu{
                position: absolute;
                display: none;
                z-index: 50000;
                width: 208px;
                right: 0;
                top: 100%;
                margin-top: -4px;
                font-size: 14px;
                line-height: 39px;
                color: #e8e8e8;
                background: #333;
                box-sizing: $fx-frameUIShadow;

                > *{
                    display: block;
                }

                > * + *{
                    border-top: 1px solid #222;
                }

                .menuName{
                    padding: 0 12px;
                    color: #fff;
                    background: #111;
                }

                a{
                    i{
                        display: inline-block;
                        width: 32px;
                        font-size: 14px;
                        text-align: center;
                        color: #e8e8e8;
                    }

                    &:hover{
                        color: #fff;
                        background: #222;
                    }
                }
            }
        }
    }

    .notificationMenu{

        &.-hasData{
            .trayIcon::before{
                content: '';
                display: block;
                position: absolute;
                right: 12px;
                top: 12px;
                width: 8px;
                height: 8px;
                background: $c-hilight;
                border-radius: 100px;
            }
        }

        .dropdownMenu{
            width: 280px !important;

            > * + *{
                padding: 8px 8px;
                padding-left: 32px;
                line-height: 24px;
                text-indent: -32px;

                i{
                    display: inline-block;
                    width: 32px;
                    font-size: 14px;
                    text-align: center;
                    color: #e8e8e8;
                    text-indent: 0;
                }
            }
        }

    }

    .userMenu{

        .trayIcon{
            line-height: 48px;
        }

        .profileCard{
            position: relative;
            padding: 12px 12px;
            padding-left: 52px;
            line-height: 20px;
            color: #fff;
            background: #111;

            .thumb{
                position: absolute;
                left: 0;
                top: 12px;
                width: 52px;
                height: 40px;
                line-height: 40px;
                font-size: 32px;
                text-align: center;
            }

            .name{
                font-weight: bold;
                line-height: 24px;
            }

            .email{
                font-size: 80%;
                line-height: 16px;
            }
        }

    }
}


@keyframes fnItem_dropdownMenu_in{
    0% { opacity: 0; margin-top: -1000px; }
    1% { opacity: 0; margin-top: -16px; }
  100% { opacity: 1; margin-top: -4px; }
}


@keyframes fnItem_dropdownMenu_out{
      0% { opacity: 1; margin-top: -4px; }
     99% { opacity: 0; margin-top: -16px; }
    100% { opacity: 0; margin-top: -1000px; }
}


#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: $s-footerH;
    background: #fff;
    box-shadow: $fx-frameUIShadow;

    @at-root .-appStyle #{&}{
        position: fixed;
        z-index: $z-frameUI;
    }

    .copy{
        position: absolute;
        left: 8px;
        top: 0;
        font-size: 12px;
        line-height: $s-footerH;
    }

    .links{
        position: absolute;
        right: 8px;
        top: 0;
        font-size: 12px;
        text-align: right;
        line-height: $s-footerH;

        a{
            display: inline-block;
            margin-left: 16px;
            color: $c-textLink;
        }
    }

}


#headerPane{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: 56px;
    background: #fff;
    box-shadow: $fx-frameUIShadow;

    @at-root .-appMode #{&}{
        position: absolute;
        z-index: $z-filter;
    }

    + #bodyPane{
        top: 104px;
    }

    &.-expend{
        height: 88px;

        + #bodyPane{
            top: 136px;
        }
    }

    .titlePanel{
        position: absolute;
        left: 0;
        padding-left: 24px;
        padding-top: 8px;
        width: $s-logoW;
        height: 100%;
        font-size: 24px;
        line-height: 40px;
        display: flex;

        i{
            width: 32px;
            margin-right: 8px;
            line-height: 40px;
        }

        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            bottom: 12px;
            border-right: solid 1px #ccc;
        }
    }

    #filterPanel{
        position: absolute;
        left: $s-logoW;
        padding-left: 16px;
        padding-top: 16px;
        display: flex;

        .filterItemGroup{
            display: flex;
            position: relative;
            flex: 0 0 auto;

            & + .filterItemGroup{
                margin-left: 16px;
                padding-left: 16px;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    border-left: solid 1px #ccc;
                }
            }
        }

        .filterItem{

            & + .filterItem{
                margin-left: 16px;
            }

            .label{
                font-size: 14px;
                font-weight: bold;
                line-height: 24px;
            }

            .input{

            }

            &.-submit{

                padding-top: 24px;
            }
        }
    }

    .subHeaderPanel{
        position: absolute;
        left: $s-logoW;
        padding-left: 16px;
        padding-top: 8px;
        display: flex;
        font-size: 24px;
        line-height: 40px;
    }
}


#bodyPane{
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: $s-headerH;
    padding-bottom: 48px + $s-footerH;

    @at-root .-appStyle #{&}{
        bottom: $s-footerH;
    }
}