@charset "utf-8";

@import "config";


*, *::before, *::after{
    box-sizing: border-box;
}


html{
    height: 100%;
    min-width: $s-minWidth;
    background: #f8f8f8;
}


a{
    text-decoration: none;
}

b{
    font-weight: bold;
}

.-c{ text-align: center; }
.-r{ text-align: right; }


body{
    min-height: 100%;
    padding-top:    $s-headerH;
    padding-bottom: $s-footerH;
    font-family: "Microsoft Jhenghei", sans-serif;

    &.-appMode{}

}


.-link{
    cursor: pointer;
}


#header{
    position: fixed;
    z-index: $z-frameUI;
    left: 0;
    top: 0;
    width: 100%;
    height: $s-headerH;
    background: $c-main;
    box-shadow: $fx-frameUIShadow;

    .captain{
        position: absolute;
        left: 0;
        top: 0;
        width: $s-logoW;
        height: 100%;
        background-color: rgba(0,0,0, .2);
        background-image: url(../../img/ebe-logotype.svg);
    }

    .mainMenu{
        position: absolute;
        left: $s-logoW;
        display: flex;
        justify-content: flex-start;
        color: #fff;

        .menuGroup{
            padding: 8px 12px;
            display: flex;
        }

        .menuGroup + .menuGroup{
            border-left: 1px solid rgba(0,0,0, .2);
        }

        a{
            vertical-align: top;
            color: #fff;
            font-size: 14px;
            line-height: 32px;
            display: flex;

            i{
                vertical-align: top;
                width: 20px;
                margin-right: 0;
                line-height: 32px;
            }

            &.-active{
                color: #333;
                background: #fff;
                border-radius: 1000px;
            }
        }

        .menuGroup          a{ padding: 0 16px; }
        .menuGroup.-primary a{ padding: 0 12px; }
    }

    .fnBlock{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 0px;
        top: 0px;


        .fnItem{
            position: relative;
            height: 48px;
            min-width: 32px;
            line-height: 48px;

            .trayIcon{
                cursor: pointer;
                line-height: 48px;
                vertical-align: top;

                .icon{
                    width: 48px;
                    font-size: 18px;
                    line-height: inherit;
                    vertical-align: top;
                }

                a{
                    display: block;
                    line-height: inherit;
                    text-decoration: none;
                    vertical-align: top;
                }

                .textlabel{
                    display: inline-block;
                    margin-left: -4px;
                    margin-right: 16px;
                }

                .icon{
                    text-align: center;
                }

                *{
                    color: #fff;
                    text-decoration: none;
                }
            }

            &:hover{
                .trayIcon{
                    background: $c-main;
                }

                .dropdownMenu{
                    display: block;
                }
            }

            .dropdownMenu{
                position: absolute;
                display: none;
                z-index: 50000;
                width: 208px;
                right: 0;
                top: 100%;
                margin-top: -4px;
                font-size: 14px;
                line-height: 39px;
                color: #e8e8e8;
                background: #333;
                box-sizing: $fx-frameUIShadow;

                > *{
                    display: block;
                }

                > * + *{
                    border-top: 1px solid #222;
                }

                .menuName{
                    padding: 0 12px;
                    color: #fff;
                    background: #111;
                }

                a{
                    color: #fff;
                    text-decoration: none;

                    i{
                        display: inline-block;
                        width: 32px;
                        font-size: 14px;
                        text-align: center;
                        color: #e8e8e8;
                    }

                    &:hover{
                        color: #fff;
                        background: #222;
                    }
                }
            }
        }
    }

    .notificationMenu{

        &.-hasData{
            .trayIcon::before{
                content: '';
                display: block;
                position: absolute;
                right: 12px;
                top: 12px;
                width: 8px;
                height: 8px;
                background: $c-hilight;
                border-radius: 100px;
            }
        }

        .dropdownMenu{
            width: 280px !important;

            > * + *{
                padding: 8px 8px;
                padding-left: 32px;
                line-height: 24px;
                text-indent: -32px;

                i{
                    display: inline-block;
                    width: 32px;
                    font-size: 14px;
                    text-align: center;
                    color: #e8e8e8;
                    text-indent: 0;
                }
            }
        }

    }

    .userMenu{

        .trayIcon{
            line-height: 48px;
        }

        .profileCard{
            position: relative;
            padding: 12px 12px;
            padding-left: 52px;
            line-height: 20px;
            color: #fff;
            background: #111;

            .thumb{
                position: absolute;
                left: 0;
                top: 12px;
                width: 52px;
                height: 40px;
                line-height: 40px;
                font-size: 32px;
                text-align: center;
            }

            .name{
                font-weight: bold;
                line-height: 24px;
            }

            .email{
                font-size: 80%;
                line-height: 16px;
            }
        }

    }
}


@keyframes fnItem_dropdownMenu_in{
    0% { opacity: 0; margin-top: -1000px; }
    1% { opacity: 0; margin-top: -16px; }
  100% { opacity: 1; margin-top: -4px; }
}


@keyframes fnItem_dropdownMenu_out{
      0% { opacity: 1; margin-top: -4px; }
     99% { opacity: 0; margin-top: -16px; }
    100% { opacity: 0; margin-top: -1000px; }
}


#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $s-footerH;
    background: #fff;
    box-shadow: $fx-frameUIShadow;

    @at-root .-appStyle #{&}{
        position: fixed;
        z-index: $z-frameUI;
    }

    .copy{
        position: absolute;
        left: 8px;
        top: 0;
        font-size: 12px;
        line-height: $s-footerH;
    }

    .links{
        position: absolute;
        right: 8px;
        top: 0;
        font-size: 12px;
        text-align: right;
        line-height: $s-footerH;

        a{
            display: inline-block;
            margin-left: 16px;
            color: $c-textLink;
        }
    }

}


#headerPane{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: 56px;
    background: #fff;
    box-shadow: $fx-frameUIShadow;

    @at-root .-appMode #{&}{
        position: absolute;
        z-index: $z-filter;

        + *{           top: 56px; }
        &.-expend + *{ top: 88px; }
    }

    + *{
        top: 104px;
    }

    &.-expend{
        height: 88px;

        + *{
            top: 136px;
        }
    }

    .titlePanel{
        position: absolute;
        left: 0;
        padding-left: 24px;
        padding-top: 8px;
        width: $s-logoW;
        height: 100%;
        font-size: 24px;
        line-height: 40px;
        display: flex;

        i{
            width: 32px;
            margin-right: 8px;
            line-height: 40px;
        }

        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            bottom: 12px;
            border-right: solid 1px #ccc;
        }
    }

    #filterPanel{
        position: absolute;
        left: $s-logoW;
        padding-left: 16px;
        padding-top: 16px;
        display: flex;

        .filterItemGroup{
            display: flex;
            position: relative;
            flex: 0 0 auto;

            & + .filterItemGroup{
                margin-left: 16px;
                padding-left: 16px;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    border-left: solid 1px #ccc;
                }
            }
        }

        .filterItem{

            & + .filterItem{
                margin-left: 16px;
            }

            .label{
                font-size: 14px;
                font-weight: bold;
                line-height: 24px;
            }

            .input{

            }

            &.-submit{

                padding-top: 24px;
            }
        }
    }

    #tabPanel{
        position: absolute;
        left: $s-logoW;
        padding-left: 16px;
        padding-top: 12px;
        display: flex;

        .tabItemGroup{
            display: flex;
            position: relative;
            flex: 0 0 auto;

            & + .tabItemGroup{
                margin-left: 16px;
                padding-left: 16px;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    border-left: solid 1px #ccc;
                }
            }
        }

        .tabItem{
            display: flex;
            padding: 0 16px;
            font-weight: bold;
            line-height: 32px;
            color: #333;
            border-radius: 16px;
            cursor: pointer;
            transition: all .25s;

            &:hover{
                background-color: #f0f0f0;
            }

            .label{
                font-size: 15px;
            }

            .count{
                margin-left: 4px;
                font-size: 13px;
                font-weight: 900;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            &.-active{
                background-color: #E0E006;
            }
        }
    }

    .subHeaderPanel{
        position: absolute;
        left: $s-logoW;
        padding-left: 16px;
        padding-top: 8px;
        display: flex;
        font-size: 24px;
        line-height: 40px;
    }
}


.bodyPane,
#bodyPane{
    z-index: 0;
    left: 0;
    right: 0;
    padding-bottom: 0;
}

.-appMode{
    .bodyPane,
    #bodyPane{
        position: absolute;
        left: 0;
        right: 0;
        top: 56px;
        bottom: $s-footerH;
        padding-bottom: 32px + $s-footerH;
    }
}


.-appMode .contentPane{
    position: fixed;
    left: 0;
    top: $s-headerH;
    right: 0;
    bottom: 0;
}


.hSplitContentPane{

    > *{
        position: absolute;
        top: 0;
        width: 50%;
        bottom: 0;
    }

    > *:nth-child(1){
        left: 0;
    }

    > *:nth-child(1){
        right: 0;
    }

    .itemListPane{
        background-color: #fff;;
        box-shadow: $fx-paneShadow;
    }

}


.contentScrollPane{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 48px;
    padding: 24px;
    overflow-y: auto;
}


.contentControlPane{
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    height: 48px;
    bottom: 0;
    padding-top: 7px;
    background: #fff;
    border-top: 1px solid #e8e8e8;
}


.listTable{
    width: 100%;
    font-size: 16px;
    line-height: 24px;

    thead{
        border-bottom: 2px solid #ccc;

        th{
            font-size: 14px;
            line-height: 32px;
            text-align: left;
            font-weight: bold;
            color: #666;
            white-space: nowrap;

            &.-action-sort{
                cursor: ns-resize;

                &:hover{
                    color: #000;
                }

                .sort{
                    display: inline-block;
                    width: 12px;
                    font-size: 12px;
                    line-height: 32px;

                    > *{
                        display: none;
                    }

                    .sort-null{
                        display: inline;
                    }

                    .sort-asc,
                    .sort-desc{
                        color: $c-main;
                    }
                }

                &[data-sort-dir="asc"]{
                    .sort-null{ display: none }
                    .sort-asc{ display: inline }
                }

                &[data-sort-dir="desc"]{
                    .sort-null{ display: none }
                    .sort-desc{ display: inline }
                }

            }

            & + th{ padding-left: 16px; }
        }
    }

    tbody{
        tr{
            border-bottom: 1px solid #ccc;
        }

        td{
            padding: 8px 0;

            & + td{ padding-left: 16px; }

            &[data-datatype="text"]{}
            &[data-datatype="datePeriod"]{ font-size: 85%; }
        }
    }
}


.messagePane{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .messageBody{
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #999;

        .icon{
            font-size: 40px;
            line-height: 64px;
        }
    }
}


.ebPager{
    display: flex;
    margin: 0 auto;
    height: 32px;
    justify-content: center;
    font-size: 16px;
    min-width: 48px;
    line-height: 32px;

    &.-disabled{
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pager{
        flex: 0 0 32px;
        text-align: center;
        cursor: pointer;

        &::before{
            line-height: 32px;
        }

        &:hover{
        }

        &.-active{
            font-weight: bold;
            color: #fff;
        }

        &:first-child,
        &:last-child{
            background: #e8e8e8;
            border-radius: 100%;
            transition: all .25s;

            &:hover{
                background: #ccc;
            }
        }
    }

    .numPage{
        flex: 0 0 auto;
        padding: 0 16px;
        font-size: 14px;
        min-width: 48px;
    }

    .pagerSelect{
        flex: 0 0 auto;
        margin-left: 16px;
        padding: 0 0 0 8px;
        font-size: 14px;
        text-align: right;
        border: 1px solid #ccc;
        border-radius: 4px;

        select{
            vertical-align: top;
            padding: 0 3px;
            height: 30px;
            background: transparent;
            border: 0;
        }

        option{
            text-align: right;
        }
    }

}