$wg-c-border: #999;
$wg-border: solid 1px $wg-c-border;
$wg-border-radius: 4px;


.widgetBox{
    position: relative;
    border: $wg-border;
    border-radius: $wg-border-radius;

    .listPane{

        table{

            th + th,
            td + td{
                padding-left: 8px !important;
            }
        }
    }

    .messagePane{
        position: absolute;
        display: none;
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        background: rgba(#ffffff, .85);
        border-radius: $wg-border-radius - 1px;

        .messageText{
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            transform: translate(0, -50%);
        }
    }

    .addFormPane{
        position: absolute;
        display: none;
        left: 8px;
        top: 8px;
        right: 8px;
        bottom: 8px;
        background: #ffffff;
        border-radius: $wg-border-radius - 1px;
        box-shadow: 0 0 7px rgba(0,0,0, .2);

        > *{
            position: absolute;
        }

        > *[class*="-r-"]{
            display: flex;
            align-items: center;

            .wgLabel{
                flex: 0 0 72px;
                font-size: 14px;
                line-height: 16px;
                font-weight: bold;
            }

            .wgField{
                flex: 0 0 192px;
            }
        }

        .title{
            left: 24px;
            top: 24px;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            color: #0D7BC4;
        }

        .button{
            right: 24px;
            bottom: 24px;
        }

        .close{
            right: 0;
            top: 0;
            width: 40px;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
    }
}


.wgSelectorBox{
    width: 640px;
    max-height: 240px;


    .listPane{
        max-height: 240px;
        padding: 7px 15px 0px;
        overflow-y: auto;

        table{
            width: 100%;

            thead{
                border-bottom: 1px solid #999;
            }

            th, td{
                text-align: left;
                white-space: nowrap;
            }

            th{
                font-weight: bold;
                color: #0D7BC4;
            }

            tbody tr{
                cursor: pointer;

                + tr{
                    border-top: 1px solid #cccc;
                }

                td{
                    padding: 8px 0;
                }

                &:hover{
                    background: #e8e8e8;
                }
            }

            td.fn{
                text-align: right;
            }
        }
    }
}


.wgProjectStationManageBox{
    width: 640px;
    height: 320px;

    .listPane{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 48px;
        padding: 7px 15px 15px;
        overflow-y: auto;
        border-bottom: $wg-border;

        table{
            width: 100%;

            thead{
                border-bottom: 1px solid #999;
            }

            th, td{
                text-align: left;
                white-space: nowrap;
            }

            th{
                font-size: 14px;
                font-weight: bold;
                color: #0D7BC4;
            }

            td{
                font-size: 13px;
            }

            tbody tr{
                border-bottom: 1px solid #cccc;

                td{
                    padding: 8px 0;
                }
            }

            td.fn{
                text-align: right;
            }
        }
    }

    .addPane{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 48px;
        background: #fff;
        border-radius: 0 0 $wg-border-radius $wg-border-radius;

        .emailField{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 88px;

            input{
                width: 100%;
                height: 100%;
                padding: 0 15px;
                font-size: 16px;
                background: transparent;
                border: 0;
            }
        }

        .-action-openAddForm{
            position: absolute;
            display: block;
            right: 8px;
            top: 8px;
        }
    }

    .addFormPane{

        .line{
            left: 312px;
            top: 64px;
            bottom: 24px;
            border-left: 1px solid  #ccc;
        }

        > .-r-0{ left:  24px; top:  64px; }
        > .-r-1{ left:  24px; top: 104px; }
        > .-r-2{ left:  24px; top: 144px; }
        > .-r-3{ left:  24px; top: 184px; }
        > .-r-4{ left:  24px; top: 224px; }
        > .-r-5{ left: 336px; top:  64px; }
        > .-r-6{ left: 336px; top: 104px; }
        > .-r-7{ left: 336px; top: 144px; }
        > .-r-8{ left: 336px; top: 224px; }

    }
}


.wgEntourageManageBox{
    width: 640px;
    height: 256px;

    .listPane{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 48px;
        padding: 7px 15px 15px;
        overflow-y: auto;
        border-bottom: $wg-border;

        table{
            width: 100%;

            thead{
                border-bottom: 1px solid #999;
            }

            th, td{
                text-align: left;
                white-space: nowrap;
            }

            th{
                font-weight: bold;
                color: #0D7BC4;
            }

            tbody tr{
                border-bottom: 1px solid #cccc;

                td{
                    padding: 8px 0;
                }
            }

            td.fn{
                text-align: right;
            }
        }
    }

    .addPane{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 48px;
        background: #fff;
        border-radius: 0 0 $wg-border-radius $wg-border-radius;

        .nameField{
            position: absolute;
            left: 8px;
            top: 8px;
            bottom: 8px;
            width: 96px;

            input{
                width: 100%;
                height: 100%;
                padding: 0 7px;
                font-size: 16px;
                background: transparent;
                border: 0;
            }
        }

        .phoneField{
            position: absolute;
            left: 8px + 96px;
            top: 8px;
            bottom: 8px;
            width: 144px;

            input{
                width: 100%;
                height: 100%;
                padding: 0 7px;
                font-size: 16px;
                background: transparent;
                border: 0;
                border-left: 1px solid #ccc;
            }
        }

        .emailField{
            position: absolute;
            left: 8px + 96px + 144px;
            top: 8px;
            bottom: 8px;
            right: 88px;

            input{
                width: 100%;
                height: 100%;
                padding: 0 7px;
                font-size: 16px;
                background: transparent;
                border: 0;
                border-left: 1px solid #ccc;
            }
        }

        .-action-addItem{
            position: absolute;
            display: block;
            right: 8px;
            top: 8px;
        }
    }
}


.wgProjectUserViewBox{
    width: 640px;

    .listPane{
        padding: 7px 15px 0px;

        table{
            width: 100%;

            thead{
                border-bottom: 1px solid #999;
            }

            th, td{
                text-align: left;
                white-space: nowrap;
            }

            th{
                font-weight: bold;
                color: #0D7BC4;
            }

            tbody tr{

                + tr{
                    border-top: 1px solid #cccc;
                }

                td{
                    padding: 8px 0;
                }
            }

            td.fn{
                text-align: right;
            }
        }
    }
}


.wgProjectUserManageBox{
    width: 640px;
    height: 256px;

    .listPane{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 48px;
        padding: 7px 15px 15px;
        overflow-y: auto;
        border-bottom: $wg-border;

        table{
            width: 100%;

            thead{
                border-bottom: 1px solid #999;
            }

            th, td{
                text-align: left;
                white-space: nowrap;
            }

            th{
                font-weight: bold;
                color: #0D7BC4;
            }

            tbody tr{
                border-bottom: 1px solid #cccc;

                td{
                    padding: 8px 0;
                }
            }

            td.fn{
                text-align: right;
            }
        }
    }

    .addPane{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 48px;
        background: #fff;
        border-radius: 0 0 $wg-border-radius $wg-border-radius;

        .emailField{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 88px;

            input{
                width: 100%;
                height: 100%;
                padding: 0 15px;
                font-size: 16px;
                background: transparent;
                border: 0;
            }
        }

        .-action-addItem{
            position: absolute;
            display: block;
            right: 8px;
            top: 8px;
        }
    }
}


.wgSelectCheckbox{
    width: 32px;
    height: 32px;
}