@charset "utf-8";

@import "config";


.ebButton{
    display: inline-block;
    min-width: 72px;
    padding: 0 8px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: $c-main;
    cursor: pointer;

    i:first-child{
        width: 20px;
        text-align: center;
        margin-right: 4px;
    }

    i.tail{
        margin-left: 4px;
    }

    &.-small,
    &.-s{
        height: 24px;
        font-size: 12px;
        line-height: 24px;
    }

    &.-narrow,
    &.-n{
        min-width: 32px;
    }
}


$ebInput-h: 32px;
$ebInput-bg: #fff;
$ebInput-border: 1px solid #ccc;
$ebInput-border-r: 4px;


// control


.ebInput{
    margin: 0;
    padding: 0 3px;
    height: $ebInput-h;
    width: 128px;
    font-size: 13px;
    background: $ebInput-bg;
    border: $ebInput-border;
    border-radius: $ebInput-border-r;

    &.-block{
        width: 100%;
    }

    &.-type-date{

        + span{
            position: relative;
            z-index: 100;
            margin-left: -24px;
            pointer-events: none;

            &::before{
                line-height: 32px;
                text-align: center;
            }
        }
    }

    &.-type-time{
        width: 64px;
        font-size: 16px;
    }
}


.ebTextarea{
    margin: 0;
    padding: 7px;
    height:128px;
    width: 256px;
    font-size: 16px;
    line-height: 24px;
    background: $ebInput-bg;
    border: $ebInput-border;
    border-radius: $ebInput-border-r;
}


.ebSelect{
    margin: 0;
    padding: 0 3px;
    height: $ebInput-h;
    font-size: 13px;
    background: $ebInput-bg;
    border: $ebInput-border;
    border-radius: $ebInput-border-r;

    &.-block{
        width: 100%;
    }
}


.ebDisplayText{
    font-weight: bold;
    line-height: $ebInput-h;
    color: $c-main;
}


.ebSelectGroup{
    display: flex;
    flex-wrap: wrap;

    > .ebRadio,
    > .ebCheckbox{
        margin-right: 16px;
    }
}


.ebRadio{
    > input[type="radio"]{
        width: 16px;
    }
}


.ebCheckbox{
    > input[type="checkbox"]{
        width: 16px;
    }
}


.ebFileUpload{
    position: relative;
    margin: 0;
    padding: 0 3px;
    height: $ebInput-h;
    width: 480px;
    font-size: 13px;
    background: $ebInput-bg;
    border: $ebInput-border;
    border-radius: $ebInput-border-r;

    .ebButton{
        position: absolute;
        left: 3px;
        top: 3px;
    }

    .fileName{
        position: absolute;
        left: 80px;
        top: 3px;
        right: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 24px;
    }

    input{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .05;
    }
}


// layout


.fieldSection{
}


.fixedTopSection{
    position: relative;
    border-bottom: 4px solid #fff;

    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0px;
        right: 0;
        border-bottom: 1px solid #e8e8e8;
    }

    + .fieldSection{
        margin-top: 24px !important;
    }
}


.fieldSection{

    + .fieldSection{
        margin-top: 48px;
    }
}


.fieldSet{
    margin: 24px 0;
}


.fieldRow{
    display: flex;
    padding-left:  40px;
    font-size: 16px;
    line-height: 32px;

    + .fieldRow{

        > *{
            margin-top: 16px;
        }

        > .label::after{
            top: -16px;
        }
    }

    .label{
        position: relative;
        flex: 0 0 144px + 16px;
        padding-right: 16px;
        line-height: 32px;
        text-align: right;
        font-weight: bold;

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border-right: 1px solid #ccc;
        }
    }

    .field{
        padding-left: 16px;

        span.note{
            margin-left: 16px;
            color: #999;
        }

        div.note{
            margin: 8px;
            font-size: 14px;
            line-height: 24px;
            color: #999;
        }

        ul.note{
            margin: 8px;
            padding-left: 24px;
            font-size: 14px;
            line-height: 24px;
            color: #333;

            li{
                list-style: circle;
                list-style-position: outside;
            }
        }

        .tilde{
            margin: 0 12px 0 16px;
        }
    }

    &.-required{
        > .label{
            position: relative;

            &::before{
                content: '';
                position: absolute;
                right: 8px;
                top: 4px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: #f00;
            }
        }
    }

    &.-buttons{
        margin-left: 144px + 16px + 40px;
        padding: 16px 0;
        padding-left: 16px;
        width: 640px;
        display: block;
        text-align: right;
        border-top: 1px solid #ccc;
    }

    &.-text{
        margin-left: 144px + 16px + 40px;
        padding: 16px 0;
        padding-left: 16px;
        width: 640px;
        display: block;
        text-align: left;
        border-top: 1px solid #ccc;

        ul.note{
            margin: 8px;
            font-size: 14px;
            line-height: 24px;
            color: #333;

            li{
                list-style: circle;
                list-style-position: outside;
            }
        }
    }
}


.fieldTitle{
    width: 144px + 16px + 40px;
    padding-right: 16px;
    padding-bottom: 24px;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: $c-textLink;
    border-right: 1px solid #ccc;
}