@charset "utf-8";

@import "config";


.ebButton{
    display: inline-block;
    min-width: 72px;
    padding: 0 8px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: $c-main;
    cursor: pointer;

    i:first-child{
        width: 20px;
        text-align: center;
        margin-right: 4px;
    }

    i.tail{
        margin-left: 4px;
    }

    &.-s{
        height: 24px;
        font-size: 12px;
        line-height: 24px;
    }

    &.-n{
        min-width: 32px;
    }
}


.ebInput{
    margin: 0;
    padding: 0 3px;
    height: 32px;
    width: 128px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    &.-block{
        width: 100%;
    }

    &.-type-date{

        + span{
            position: relative;
            z-index: 100;
            margin-left: -24px;
            pointer-events: none;

            &::before{
                line-height: 32px;
                text-align: center;
            }
        }
    }
}


.ebTextarea{
    margin: 0;
    padding: 7px;
    height:128px;
    width: 256px;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.ebSelect{
    margin: 0;
    padding: 0 3px;
    height: 32px;
    font-size: 13px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;

    &.-block{
        width: 100%;
    }
}


.ebDisplayText{
    color: $c-main;
}


.ebSelectGroup{
    display: flex;
    flex-wrap: wrap;

    > .ebRadio,
    > .ebCheckbox{
        margin-right: 16px;
    }
}


.ebRadio{
    > input[type="radio"]{
        width: 16px;
    }
}


.ebCheckbox{
    > input[type="checkbox"]{
        width: 16px;
    }
}


.fieldSection{
}


.fixedTopSection{
    position: relative;
    border-bottom: 4px solid #fff;

    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0px;
        right: 0;
        border-bottom: 1px solid #e8e8e8;
    }
}


.fieldSection{

    + .fieldSection{
        margin-top: 48px;
    }
}


.fieldSet{
    margin: 24px 0;
}


.fieldRow{
    display: flex;
    padding-left:  40px;
    font-size: 16px;
    line-height: 32px;

    + .fieldRow{

        > *{
            padding-top: 16px;
        }
    }

    .label{
        flex: 0 0 144px + 16px;
        padding-right: 16px;
        text-align: right;
        font-weight: bold;
        border-right: 1px solid #ccc;
    }

    .field{
        padding-left: 16px;

        span.note{
            margin-left: 16px;
            color: #999;
        }

        ul.note{
            margin: 8px;
            padding-left: 24px;
            font-size: 14px;
            line-height: 24px;
            color: #333;

            li{
                list-style: circle;
                list-style-position: outside;
            }
        }

        .tilde{
            margin: 0 12px 0 16px;
        }
    }

    &.-required{
        > .label{
            position: relative;

            &::before{
                content: '';
                position: absolute;
                right: 8px;
                top: 20px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: #f00;
            }
        }
    }

    &.-buttons{
        width: 144px + 16px + 40px  +  16px + 640px;
        display: block;
        text-align: right;
        padding-top: 16px;
        border-top: 1px solid #ccc;
    }
}


.fieldTitle{
    width: 144px + 16px + 40px;
    padding-right: 16px;
    padding-bottom: 24px;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: $c-textLink;
    border-right: 1px solid #ccc;
}